* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background:     rgba(135, 190, 126, 1) 25%;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
	padding: 0;
  list-style: none;
  border-color: tomato;
}

li {
  margin-bottom: 20px;

}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid black;

  padding: 7px;

      background-color:  rgb(57, 233, 236);

}

a:hover {
box-shadow: 0px 5px 14px -3px rgba(0,0,0,0.75);
transform: scale(1.1);
}

